#nav {
    float: left;
}

#nav a {
    display: block;
    color: blue;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family:
}

#nav a:hover {
    background-color: #111;
}

 body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

#fond{
    background-color : #254, 231, 240 ;

#ul{
   background-color : #255, 0, 0 ;


