nav {
    float: left;
}

nav a {
    display: block;
    color: blue;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family:
}

nav a:hover {
    background-color: #111;
}

 body {
    font-family: Arial, sans-serif;
    background-color: red;
}


ul{
   background-color : #255, 0, 0 ;

#logo{
   font-family:
   font-weight:
   float: left;
}

li {
   list-style-type:none
}