nav {
    float: left;
    border-radius: 20px;
    border-color: rgb(255, 240, 188);
    border-style: solid;
    overflow: hidden;
    width: 100%;
    background-color: rgb();
}

section{
    display: block;
    margin: 3%;
    text-align: center;
}


body {
    font-family: Arial, sans-serif;
    background-color: rgb(116, 208, 241);
}


li {
   background-color : rgb(255, 127, 0);
   list-style-type: none;
   margin: 0;
   padding: 0;
   overflow: hidden;


}

header li {
  float: right;
  font-size: 1.6em;
}
header li a {
  text-decoration: underline;
  display: block;
  text-align: center;
  padding: 28px 22px;


nav ul {
    list-style: none;
    padding: 0; margin: 0;
    }

nav li {
    display: inline-block;
    margin-right: 10px;
}

nav a { text-decoration: none;
    color: black;
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
}
nav a:hover {
background-color: lightgray;
}