{% extends "main.html" %}
{% load static %}
{% block title %}
Affichage
{% endblock %}
{% block subtitle %}
Jeu ajouté à la liste
{% endblock %}
{% block content %}
<p> vous avez ajouté un jeu à la liste de {{liste.joueurListe}}</p>
<p><a href="/ludotheque/ajoutListe/{{liste.joueurListe_id}}/">Ajouter un autre jeu à la liste</a></p>
<p><a href="/ludotheque/indexListe/{{liste.joueurListe_id}}/">Retour à l liste</a></p>
<p><a href="/ludotheque/index/">Retour au menu principal</a></p>
{% endblock %}