{% extends "ludotheque/main.html" %}
{% load static %}
{% block title %}
Favoris
{% endblock %}
{% block content %}
<a href="/ludotheque/ajoutListe/{{joueur.id}}/">Ajouter un jeu à la liste</a>
<ul>liste de {{joueur.prenomJoueur}} {{joueur.nomJoueur}}
    {% for l in liste %}
    <li>{{l}}
    <a href="/ludotheque/afficheListe/{{l.id}}/"> Afficher</a> -
    <a href="/ludotheque/updateListe/{{l.id}}/"> Mettre à jour</a> -
    <a href="/ludotheque/deleteListe/{{l.id}}/"> Supprimer</a>
    </li>
    {% endfor %}
</ul>
{% endblock %}