<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Commentaires</title>
</head>
<body>
<a href="/ludotheque/ajoutComm_jeu/{{idjeu}}/">Ajouter un commentaire</a>
<ul>
    {% for l in liste %}
    <li>note de {{l.noteComm}}/10 par {{l.joueurComm}} le {{l.dateComm}} -
    <a href="/ludotheque/afficheComm/{{l.id}}/"> Afficher le commentaire</a> -
    <a href="/ludotheque/updateComm_jeu/{{l.id}}/"> Modifier</a> -
    <a href="/ludotheque/deleteComm/{{l.id}}/"> Supprimer</a>
    </li>
    {% endfor %}
</ul>
<a href="/ludotheque/index/">Retourner à la page d'accueil</a>
</body>
</html>