{% extends "ludotheque/main.html" %}
{% load static %}
{% block title %}Commentaires{% endblock %}
{% block content %}

<a href="/ludotheque/ajoutComm_joueur/{{idjoueur}}" class="navigation">Ajouter un commentaire</a>
<ul>
    {% if liste %}
        {% for l in liste %}
        <li>note de {{l.noteComm}}/10 par {{l.joueurComm}} le {{l.dateComm}}<br>---------------
        <a href="/ludotheque/afficheComm_joueur/{{l.id}}/">Afficher le commentaire</a>
        <a href="/ludotheque/updateComm_joueur/{{l.id}}/">Modifier</a>
        <a href="/ludotheque/deleteComm/{{l.id}}/">Supprimer</a>
        </li>
        {% endfor %}
    {% else %}
        <li>La liste est vide, pour le moment.</li>
    {% endif %}
</ul>
{% endblock %}
