<!DOCTYPE html>
<html lang="fr">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Titre{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{%static 'ludotheque/main.css'%}">
</head>
<body>

<ul>
  <li ><a href="/ludotheque/indexJoueur/">Joueurs</a></li>
  <li ><a href="/ludotheque/indexAuteur/">Auteurs</a></li>
  <li><a href="/ludotheque/indexCat/">Catégories</a></li>
  <li><a href="/ludotheque/indexJeu/">Jeux</a></li>
  <li><a href="/ludotheque/">Accueil</a></li>
  <p id="noms">Justin CHALEARD - Florian MERCKLE - Gaetan THOMASSIN</p>
</ul>

<div id="content">
    <section>
    {% block content %}
        <h1> bloc principal</h1>
    {% endblock %}
    </section>
</div>
</body>
</html>
