<!DOCTYPE html>
<html lang="fr">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Titre{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{%static 'ludotheque/main.css'%}">
</head>
<body>
<header><h2>Justin Chalérd-Florian Mercklé-Gaetan Thomassin</h2></header>
<nav>
    <p>
        <a href="/ludotheque/index/">Accueil</a>
        <a href="/ludotheque/indexJeu/">Jeux</a>
        <a href="/ludotheque/indexCat/">Catégories</a>
        <a href="/ludotheque/indexJoueur/">Joueurs</a>
        <a href="/ludotheque/indexAuteur/">Auteurs</a>
    </p>
</nav>
<div id="content">
    <section>
    {% block content %}
        <h1> bloc principal</h1>
    {% endblock %}
    </section>
</div>
</body>
</html>