<!DOCTYPE html>
<html lang="fr">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Titre{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{%static 'ludotheque/main.css'%}">
</head>
<body>
    <nav>
      <ul>
        <li id="logo"> <a href="'#">Notre Ludothèque</a></li>
        <li><a href="/ludotheque/index/">Accueil</a></li>
        <li><a href="/ludotheque/indexJeu/">Jeux</a></li>
        <li><a href="/ludotheque/indexCat/">Catégories</a></li>
        <li><a href="/ludotheque/indexJoueur/">Joueurs</a></li>
        <li><a href="/ludotheque/indexAuteur/">Auteurs</a></li>
      </ul>
    </nav>
<div>
    {% block content %}
        <h1> bloc principal</h1>
    {% endblock %}
</div>
</body>
</html>