{% extends "ludotheque/main.html" %}
{% load static %}
{% block title %}Liste des auteurs</title>
{% endblock %}
{% block content %}
<a href="../ajoutAuteur/">Ajouter un auteur</a>
<ul>
    {% for l in liste %}
    <li> auteur {{l.id}} : {{l.prenomAuteur}} {{l.nomAuteur}}
    <a href="/ludotheque/afficheAuteur/{{l.id}}/"> Afficher</a> -
    <a href="/ludotheque/updateAuteur/{{l.id}}/"> Mettre à jour</a> -
    <a href="/ludotheque/deleteAuteur/{{l.id}}/"> Supprimer</a>
    </li>
    {% endfor %}
</ul>
{% endblock %}