{% extends "ludotheque/main.html" %}
{% load static %}
{% block title %}Aide{% endblock %}
{% block content %}
<p>La fiche doit contenir les informations du jeu dans l'ordre suivant :<br>
    titre, année de parution, éditeur, catégorie, prénom de l'auteur, nom de l'auteur.<br>
    Toutes ces informations doivent être renseignées.<br>
Chacune de ces informations doit être séparée par un espace, et le fichier doit commencer et se terminer par des guillemets.</p>
<a href="/ludotheque/ajoutJeu_fiche/" class="navigation">OK</a>
{% endblock %}
