{% extends "ludotheque/main.html" %}
{% load static %}
{% block title %}Liste des jeux{% endblock %}
{% block content %}
<a href="../ajoutJeu/">Ajouter un jeu</a>
<ul>
    {% for l in liste %}
    <li> jeu {{l.id}} : {{l.titreJeu}}, {% if l.notemoyenne %}note moyenne de {{l.notemoyenne}}/10{% else %}pas encore de notes{% endif %}
    <a href="/ludotheque/afficheJeu/{{l.id}}/"> Afficher</a> -
    <a href="/ludotheque/updateJeu/{{l.id}}/"> Mettre à jour</a> -
    <a href="/ludotheque/deleteJeu/{{l.id}}/"> Supprimer</a>  -
        <a href="/ludotheque/indexComm_jeu/{{l.id}}/"> Commentaires</a>
    </li>
    {% endfor %}
</ul>
{% endblock %}