{% extends "ludotheque/main.html" %}
{% load static %}
{% block title %}Liste des jeux{% endblock %}
{% block content %}
<a href="../ajoutJeu/" class="navigation">Ajouter un jeu</a>
<a href="../ajoutJeu_fiche/" class="navigation">Ajouter un jeu à l'aide d'une fiche</a>
<ul>
    {% if liste %}
        {% for l in liste %}
        <li> jeu {{l.id}} : {{l.titreJeu}}, {% if l.notemoyenne %}note moyenne de {{l.notemoyenne}}/10{% else %}pas encore de notes{% endif %}
            {% if l.notepart %}
                <br>Note des particuliers : {{l.notepart}}/10
            {% endif %}
            {% if l.notepro %}
                <br>Note des professionnels : {{l.notepro}}/10
            {% endif %}
            <br>---------------
        <a href="/ludotheque/afficheJeu/{{l.id}}/">Afficher</a>
        <a href="/ludotheque/updateJeu/{{l.id}}/">Mettre à jour</a>
        <a href="/ludotheque/deleteJeu/{{l.id}}/">Supprimer</a>
            <a href="/ludotheque/indexComm_jeu/{{l.id}}/">Commentaires</a>
        </li>
        {% endfor %}
    {% else %}
        <li>La liste est vide, pour le moment.</li>
    {% endif %}
</ul>
{% endblock %}
