<!DOCTYPE html>
<html lang="fr">
<head>
<meta charset="UTF-8">
<title>Nouveau joueur ajouté</title>
</head>
<body>
<p> vous avez ajouté le joueur suivant : {{joueur.prenomJoueur}} {{joueur.nomJoueur}}</p>
<ul>Informations du joueur :
    <li>Email : {{joueur.emailJoueur}}</li>
    <li>Mot de passe : {{joueur.mdpJoueur}}</li>
    <li>Type de joueur : {{joueur.typeJoueur}}</li>
</ul>
<ul>Liste des favoris :



</ul>
<p><a href="/ludotheque/indexJoueur/">Retour à la page des joueurs</a></p>
<p><a href="/ludotheque/index/">Retourner à la page d'accueil</a></p>
</body>
</html>