<!DOCTYPE html>
<html lang="fr">
<head>
<meta charset="UTF-8">
<title>Nouveau joueur ajouté</title>
</head>
<body>
<p> vous avez ajouté le joueur suivant : {{joueur.prenomJoueur}} {{joueur.nomJoueur}}</p>
<ul>Informations du joueur :
    <li>Email : {{joueur.emailJoueur}}</li>
    <li>Mot de passe : {{joueur.mdpJoueur}}</li>
    <li>Type de joueur : {{joueur.typeJoueur}}</li>
</ul>
<ul>Liste des favoris :
    {% for l in liste %}
    <li> liste de {{l.prenomJoueur}} {{l.nomJoueur}}
    <a href="/ludotheque/afficheListe/{{l.id}}/"> Afficher</a> -
    <a href="/ludotheque/updateListe/{{l.id}}/"> Mettre à jour</a> -
    <a href="/ludotheque/deleteListe/{{l.id}}/"> Supprimer</a>
    </li>
    {% endfor %}
</ul>
<p><a href="/ludotheque/indexJoueur/" class="navigation">Retour à la page des joueurs</a></p>
</body>
</html>
