{% extends "ludotheque/main.html" %}
{% load static %}
{% block title %}Liste des joueurs
{% endblock %}
{% block content %}
<a href="/ludotheque/ajoutJoueur/" class="navigation">Ajouter un joueur</a>
<ul>
    {% if liste %}
        {% for l in liste %}
        <li> joueur {{l.id}} : {{l.prenomJoueur}} {{l.nomJoueur}}<br>---------------
        <a href="/ludotheque/afficheJoueur/{{l.id}}/">Afficher</a>
        <a href="/ludotheque/updateJoueur/{{l.id}}/">Mettre à jour</a>
        <a href="/ludotheque/deleteJoueur/{{l.id}}/">Supprimer</a>
        <a href="/ludotheque/indexComm_joueur/{{l.id}}/">Commentaires de {{l.prenomJoueur}} {{l.nomJoueur}}</a>
        <a href="/ludotheque/indexListe/{{l.id}}/">Favoris de {{l.prenomJoueur}} {{l.nomJoueur}}</a>
        </li>
        {% endfor %}
    {% else %}
        <li>La liste est vide, pour le moment.</li>
    {% endif %}
</ul>
{% endblock %}